{% extends 'base.html' %}

{% block title %}Blocks list{% endblock title %}

{% block content %}
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Hash</th>
                <th>Height</th>
                <th>Date</th>
                <th>Miner</th>
                <th>Transactions</th>
            </tr>
        </thead>
        <tbody>
            {% for block in blocks %}
                    <tr>

                        <td><a href="{% url 'detail' block.height %}">{{ block.hash|truncatechars:20 }}</a></td>
                        <td>{{ block.height }}</td>
                        <td>{{ block.date }}</td>
                        <td>{{ block.miner|truncatechars:20 }}</td>
                        <td>{{ block.transaction }}</td>

                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}